@media (min-width: 320px) and (max-width: 790px) {
  :root {
    --primary: rgba(255, 180, 10, 0.7);
    --border-color: rgba(229, 218, 218, 0.65);
  }
  a{
    color: unset;
    text-decoration: none;
  }
  header{
    background-color: var(--primary);
    flex-direction: column;
    background-blend-mode: screen;
    display: flex;

  }
  header > h1{
    font-family: Poppins;
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: fit-content;
    color: white;
    width: 50%;
  }
  header > i{
    text-align: center;
    width: 100%;
    background-color: white;
    color: var(--primary);
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
  }
  sub.subhead{
    font-size: small;
    padding-left: 10px
  }
  .dropdown{
    display: inline-block;
    min-height: 10px;
  }
  .dropdown span{
    font-family: Poppins;
    color: var(--primary);
  }
  .dropdown:hover .db-menu{
    display: grid;
  }
  #dd-caret{
    background-color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
  }
  .db-menu{
    width: 100%;
    display: none;
    min-height: 100px;
    position: absolute;
    z-index: 1;
    background-color: white;
    grid-template-columns: auto auto;
  }
  .db-menu  li{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Poppins;
    list-style: none;
  }
  body{
    margin:  0 auto;
    background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  }
  .subhead{
    font-family: Poppins;
    text-align: center;
    height: fit-content;
    text-transform: capitalize;
  }
  main{
    background-color: #ffffff99;
  }
  main > #sec1 > #sec1x2 > h2{
    font-family: Poppins;
    text-align: center;
    height: fit-content;
  }
  #speciality-ic{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  img{
    width: 100%;
  }
  div#examples{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  #examples a{
    padding: 10px;
    text-align:center;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    background-color: var(--primary);
    font-family: Poppins;
    margin-bottom: 5px;
    opacity: 0.8;

  }
  #sec1x1 > img, p{
    width: 100%;
    text-align: center;
    image-rendering: optimizeQuality;
  }
  #sec2 form{
    justify-content: center;
    text-align: left;
  }
#sec2 > form > input[type=email]{
  width: 50%;
  border: 1px solid var(--primary);
  padding: 10px;
}
#sec2 > form >  input[type=submit]{
  width: 100px;
  background-color: var(--primary);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
#sec2 form textarea{
  width: 90%;
  height: 100px;
  border: 1px solid var(--border-color);
}
#sec2 input[type=submit]:active{
  background-color: green !important;
}
.ddwebtype{
  display: inline-block;
}
.dd-webtypedd{
  width: 100%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
 .webtype-content{
  width: 100%;
display: none;
  gap: 10px;
  grid-template-columns: auto auto;
  justify-content: center;
  background-color: white;
  padding-bottom: 10px;
}
#sec1x3 div > i{
  font-size: small;
  text-align: center;
  width: 100%;
  background-color: white;
}
.dd-webtype:hover .webtype-content{
  display: grid;
}
.sec1x4{
  background-color: white;
}
.sub1x4{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background-color: white;
  padding-top: 10px;
}
.sub1x4 > p{
  grid-column: 2;
}
.sub1x4 img {
width: 100px;
}
.progress{
  text-align: center;
}
footer{
  margin-top: 20px;
  width: 100%;
  min-height: 100px;
  background-color: black;
  display: flex;
  color: white;
  font-family: Poppins
}
footer div address p i{
  color: white;padding: 5px;
}
.ds{
  display: none;
}
}




@media (min-width: 1024px) {
  :root{
    --primary: wheat;
    --background-color: rgba(1, 29, 20, 0.847);
    --paralleximage: url('https: //images.unsplash.com/photo-1650999934328-eaef7ddf2ba7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    --pimg: url('img/sandro-gonzalez-P3K1S3s22lI-unsplash.jpg')
    --color1: #0a1213;
    --color2: #697765;
    --color3: #3f4f42;
    --color4: #24322a;
    --color5: #323b3c;
    --color6: #3c3c3a;
    --color7: #242323;
    --font1: Poppins;
    --font2: Dongle;
  }
  body{
    margin: 0 auto;
  }
  header{
    margin:  auto;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    z-index: 100;
    position: absolute;
    margin-bottom: 100px;
    min-height: 30px;
    align-items: center;
background-image: url('img/wolfgang-hasselmann-CsQD3CyTR0M-unsplash.jpg');
    display: flex;
    color: var(--color7);
    top: 0%;
  }
  a{
    color: unset;
    text-decoration: none;
  }
  header h1{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    font-family: var(--font1);
    font-size: medium;
  }
  header sub{
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: white;
  }
  .dropdown{
    width: 100%;
  }
  .dropdown span{
   font-family: var(--font1); 
   display: none;
  }
  .dropdown i{
    display: none;
  }
  .db-menu{
    display: flex;
    gap: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: var(--font1);
    font-size: x-small;
    font: bolder;
  }
  .db-menu a > li{
    width: max-content
  }
  li{
    list-style-type: none;
  }
  #sec1{
    width: 100%;
  }
  #sec1x1{
    width: 100%;
    background-size: cover;
    background-image: url('img/wolfgang-hasselmann-CsQD3CyTR0M-unsplash.jpg');
    background-attachment: fixed;
    height: 100%;
    position: absolute;
    background-position: bottom;
  }
  #sec1x1 > #img1 {
display: none;
  }
  #sec1x1 .subhead{
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 50px;
    color: var(--color7);
    transform: translate(0%, 60%);
  }
  #sec1x1 p {
    width: 500px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
  #sec1x1 div{
    position: absolute;
    top: 40%;
    left: 50px;
  }
 #sec1x1 #prop{
   height: 500px;
   position: absolute;
   left: 40%;
   top: 26.3%;
   mask-image: linear-gradient(to bottom, black, transparent);
   image-rendering: pixelated;
 }
  #sec1x2{
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 500px;
  }
  #sec1x2 .subhead{
    transition: all 2s;
    color: var(--color7);
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
#speciality-ic{
  text-align: center;
  display: flex;
}
#speciality-ic i{
  width: 100%;
  font-size: 100px;
  text-shadow: 1px 2px 5px var(--color2);
}
#examples {
  position: absolute;
  top: 100%;
  width: 100%;
  min-height: 300px;
}

}