@media (min-width: 320px) and (max-width: 790px) {
  :root {
    --primary: rgba(255, 180, 10, 0.7);
    --border-color: rgba(229, 218, 218, 0.65);
  }
  a{
    color: unset;
    text-decoration: none;
  }
  header{
    background-color: var(--primary);
    flex-direction: column;
    display: flex;

  }
  header > h1{
    font-family: Poppins;
    letter-spacing: 5px;
    height: fit-content;
    text-align: center;
    color: white;
  }
  header > i{
    text-align: center;
    width: 100%;
    background-color: white;
    color: var(--primary);
  }
  sub.subhead{
    font-size: small;
    padding-left: 10px
  }
  .dropdown{
    display: inline-block;
    min-height: 10px;
  }
  .dropdown:hover .db-menu{
    display: grid;
  }
  #dd-caret{
    background-color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: var(--primary);
  }
  .db-menu{
    width: 100%;
    display: none;
    min-height: 100px;
    position: absolute;
    z-index: 1;
    background-color: white;
    grid-template-columns: auto auto;
  }
  .db-menu  li{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Poppins;
    list-style: none;
  }
  body{
    margin:  0 auto;
    background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  }
  .subhead{
    font-family: Poppins;
    text-align: center;
    height: fit-content;
    text-transform: capitalize;
  }
  main{
    background-color: #ffffff99;
  }
  main > #sec1 > #sec1x2 > h2{
    font-family: Poppins;
    text-align: center;
    height: fit-content;
  }
  #speciality-ic{
    text-align: center;
  }
  img{
    width: 100%;
  }
  div.examples{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .examples a{
    padding: 10px;
    text-align:center;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    background-color: var(--primary);
    font-family: Poppins;
    margin-bottom: 5px;
    opacity: 0.8;

  }
  #sec1x1 > img, p{
    width: 100%;
    text-align: center;
    image-rendering: optimizeQuality;
  }
  #sec2 div{
    display: flex;
    justify-content: center;
  }
#sec2 div > input[type=text]{
  width: 50%;
  padding: 10px;
  border: 1px solid var(--primary);
}
#sec2 input[type=submit]{
  width: 100px;
  background-color: var(--primary);
  border: none;
}
#sec2 input[type=submit]:active{
  background-color: green !important;
}
.ddwebtype{
  display: inline-block;
}
.dd-webtypedd{
  width: 100%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
 .webtype-content{
  width: 100%;
display: none;
  gap: 10px;
  flex-wrap: wrap;
  grid-template-columns: auto auto;
  justify-content: center;
  position: absolute;
  z-index: 1;
  background-color: white;
  padding-bottom: 10px;
}
#sec1x3 div > i{
  font-size: small;
  text-align: center;
  width: 100%;
  background-color: white;
}
.dd-webtype:hover .webtype-content{
  display: flex;
}
.sec1x4{
  background-color: white;
}
.sub1x4{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background-color: white;
  padding-top: 10px;
}
.sub1x4 > p{
  grid-column: 2;
}
.sub1x4 img {
width: 100px;
border: 10px solid var(--border-color);
}
.progress{
  text-align: center;
}

footer{
  margin-top: 20px;
  width: 100%;
  min-height: 100px;
  background-color: black;
  display: flex;
  color: white;
  font-family: Poppins
}
footer div address p i{
  color: white;padding: 5px;
}
}
