@media (min-width: 320px) and (max-width: 790px) {
  :root {
    --primary: rgba(255, 180, 10, 0.7);
  }
  header{
    background-color: var(--primary);
    flex-direction: column;
    display: flex;

  }
  header > h1{
    font-family: Poppins;
    letter-spacing: 5px;
    height: fit-content;
    text-align: center;
    color: white;
  }
  header > i{
    text-align: center;
    width: 100%;
    background-color: white;
    color: var(--primary);
  }
  sub.subhead{
    font-size: small;
    padding-left: 10px
  }
  #dropdown:hover #ddmenu{
    display: grid;
  }
  #dd-caret{
    background-color: white;
    width: 100%;
    text-align: center;
    color: var(--primary);
  }
  #db-menu{
    width: 100%;
    display: none;
    min-height: 100px;
    background-color: white;
    display: none;
    grid-template-columns: auto auto;
  }
  #db-menu > li{
    text-align: center;
    font-family: Poppins;
  }
  body{
    margin:  0 auto;
  }
  .subhead{
    font-family: Poppins;
    text-align: center;
    height: fit-content;
    text-transform: capitalize;
  }
  main > #sec1 > #sec1x2 > h2{
    font-family: Poppins;
    text-align: center;
    height: fit-content;
  }
  #speciality-ic{
    text-align: center;
  }
  img{
    width: 100%;
  }
  div.examples{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .examples a{
    padding: 10px;
    text-align:center;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    background-color: var(--primary);
    font-family: Poppins;
    margin-bottom: 5px;
    opacity: 0.8;

  }
  #sec1x1 > img, p{
    width: 100%;
    text-align: center;
  }
  input:r


}
