@media (min-width: 320px) and (max-width: 790px) {
  :root {
    --primary: rgba(255, 180, 10, 0.7);
    --border-color: rgba(229, 218, 218, 0.65);
  }
  a{
    color: unset;
    text-decoration: none;
  }
  header{
    background-color: var(--primary);
    flex-direction: column;
    background-blend-mode: screen;
    display: flex;

  }
  header > h1{
    font-family: Poppins;
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: fit-content;
    color: white;
    width: 50%;
  }
  header > i{
    text-align: center;
    width: 100%;
    background-color: white;
    color: var(--primary);
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
  }
  sub.subhead{
    font-size: small;
    padding-left: 10px
  }
  .dropdown{
    display: inline-block;
    min-height: 10px;
  }
  .dropdown:hover .db-menu{
    display: grid;
  }
  #dd-caret{
    background-color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
  }
  .db-menu{
    width: 100%;
    display: none;
    min-height: 100px;
    position: absolute;
    z-index: 1;
    background-color: white;
    grid-template-columns: auto auto;
  }
  .db-menu  li{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Poppins;
    list-style: none;
  }
  body{
    margin:  0 auto;
    background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  }
  .subhead{
    font-family: Poppins;
    text-align: center;
    height: fit-content;
    text-transform: capitalize;
  }
  main{
    background-color: #ffffff99;
  }
  main > #sec1 > #sec1x2 > h2{
    font-family: Poppins;
    text-align: center;
    height: fit-content;
  }
  #speciality-ic{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  img{
    width: 100%;
  }
  div#examples{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  #examples a{
    padding: 10px;
    text-align:center;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    background-color: var(--primary);
    font-family: Poppins;
    margin-bottom: 5px;
    opacity: 0.8;

  }
  #sec1x1 > img, p{
    width: 100%;
    text-align: center;
    image-rendering: optimizeQuality;
  }
  #sec2 form{
    justify-content: center;
    text-align: left;
  }
#sec2 > form > input[type=email]{
  width: 50%;
  border: 1px solid var(--primary);
  padding: 10px;
}
#sec2 > form >  input[type=submit]{
  width: 100px;
  background-color: var(--primary);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
#sec2 form textarea{
  width: 90%;
  height: 100px;
  border: 1px solid var(--border-color);
}
#sec2 input[type=submit]:active{
  background-color: green !important;
}
.ddwebtype{
  display: inline-block;
}
.dd-webtypedd{
  width: 100%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
 .webtype-content{
  width: 100%;
display: none;
  gap: 10px;
  grid-template-columns: auto auto;
  justify-content: center;
  background-color: white;
  padding-bottom: 10px;
}
#sec1x3 div > i{
  font-size: small;
  text-align: center;
  width: 100%;
  background-color: white;
}
.dd-webtype:hover .webtype-content{
  display: grid;
}
.sec1x4{
  background-color: white;
}
.sub1x4{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background-color: white;
  padding-top: 10px;
}
.sub1x4 > p{
  grid-column: 2;
}
.sub1x4 img {
width: 100px;
}
.progress{
  text-align: center;
}
footer{
  margin-top: 20px;
  width: 100%;
  min-height: 100px;
  background-color: black;
  display: flex;
  color: white;
  font-family: Poppins
}
footer div address p i{
  color: white;padding: 5px;
}
}




@media (min-width: 1024px) {
  :root{
    --primary: wheat;
    --background-color: rgba(1, 29, 20, 0.847);
  }
  body{
    margin: 0 auto;
  }
  a{
    color: unset;
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  header{
    width: 100%;
    min-height: 40px;
    background-color: var(--primary);
    display: flex;
  }
  header h1{
color: black;
width: 100%;
font-family: Poppins;
font-size: large;
margin-left: 50px;
  }
header sub{
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 300;
  font-size: small;
  font-family: Poppins;
  color: gray;
}
  .dropdown{
    background-color: black;
    text-align: center;
    min-width: 500px;
  }
  .dropdown:hover .db-menu{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #dd-caret{
    margin-top: 20px;
    color: white;
    
  }
  .db-menu{
    position: absolute;
    z-index: 1;
    display: none;
    padding-top: 50px;
    min-height: 50px;
    background-color: white;
    width: 500px;
    border: 1px solid var(--primary);
    border-top: none;
  }
  .db-menu a {
    text-decoration: none;
    font-family: Poppins;
  }
  .db-menu a:hover{
    background-color: #80808050 ;
  }
  main{
    width: 100%;
  }
  #sec1{
    display: grid;
    grid-template-areas: 'sec1x1 sec1x1 sec1x1 sec1x1 sec1x1' 
                                      ;
                                      
 
  }
  #sec1x1{
    grid-area: sec1x1;
    width: 100%;
    min-height: 200px;
    background-attachment: fixed;
    background-image: url('/img/bg.jpg');
    background-color: var(--background-color);

  }
#sec1x1 > #img1{
display: none;
}
#sec1x1 p{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}
#sec1x1{
  color: white !important;
}
  #sec1x2{
    grid-area: sec1x2;
    text-align: center;
  }
  #specility-i{
    text-align: center;
  }
  #examples{
    grid-area: examples;
  }
  #examples p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  #examples a{
background-color: var(--primary);
padding: 10px;
font-family: Poppins;
text-transform: capitalize;
  }
  #examples a:hover{
    background-color: white;
  }
  a:active{
    background-color: green;
  }
  #sec1x3{
    grid-area: sec1x3;
    width: 100%;
    min-height: 300px;
  }
  .dd-webtypedd{
    display: none;
  }
  .webtype-content{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
    justify-content: center;
  }
  .subhead{
    font-family: Poppins;
    text-align: center;
  }
  #sec1x4{
    width: 100%;
    min-height: 300px;
    grid-area: sec1x4;
    justify-content: center;
  }
  #sec1x4 .sub1x4 p{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    justify-content: center;
  }
}