@media (min-width: 320px) and (max-width: 790px) {
  :root {
    --primary: rgba(255, 198, 10, 0.8);
  }
  header{
    background-color: var(--primary);
    flex-direction: column;
    display: flex;

  }
  header > h1{
    font-family: Poppins;
    letter-spacing: 5px;
    font-size: 50px;padding:10px;
    height: fit-content;
    text-align: center;
    color: white;
  }
  header > i{
    text-align: center;
    width: 100%;
    background-color: white;
    color: var(--primary);
  }
  #db-menu{
    width: 100%;
    min-height: 100px;
    background-color: white;display: none;
    grid-template-columns: auto auto;
  }
  #db-menu > p{
    text-align: center;
    font-family: Poppins;
  }
  body{
    margin:  0 auto;
  }
  .subhead{
    font-family: Poppins;
    text-align: center;
    height: fit-content;
  }
  main > #sec1 > #sec1x2 > h2{
    font-family: Poppins;
    text-align: center;
    height: fit-content;
  }
  #speciality-ic{
    text-align: center;
  }
  #sec1x1 > img, p{
    width: 100%;
    text-align: center;
  }


}
