@media (min-width: 320px) and (max-width: 790px) {
    body {
        background-color: transparent;
        margin: 0 auto;
    }

    a {
        color: unset;
        text-decoration: none;
        cursor: pointer;
    }

    * {
        box-sizing: border-box;
    }

    :root {
        --bg: url("https://w.wallhaven.cc/full/yj/wallhaven-yjq3ox.jpg");
        --bgg: url("https://w.wallhaven.cc/full/2k/wallhaven-2k9ozm.png");
        --bggg: url(img/bgg.jpg);
        --primary: rgba(255, 200, 0, 0.5);
    }

    main {
        position: absolute;
        width: 100%;
    }

    #sec1 {
        width: 100%;
        min-height: 700px;
        display: grid;
        grid-template-rows: auto auto;
        background-image: var(--bggg);
        background-size: cover;
        background-attachment: fixed;
    }

    #sec2 {
        width: 100%;
        height: 700px;
        background-image: white;
        background-size: cover;
    }

    #sec3 {
        width: 100%;
        height: 700px;
        background-image: var(--bgg);
        background-size: cover;
        background-attachment: fixed;
    }

    #position1 {
        margin-top: 10%;
        padding: 10px;
    }

    #position1 > p {
        font-size: 45px;
        font-family: sans-serif;
        font-weight: bolder;
        width: 100%;
        text-align: left;
        color: white;
    }

    #position1 > p >button {
        width: fit-content;
        font-size: 40px;
        font-family: sans-serif;
        font-weight: bolder;
        background-color: var(--primary);
        border: none;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }

    #template {
        color: rgba(255, 200, 0, 1);
        text-align: center;
        font-family: Poppins;
        font-size: xx-large;
    }

    #template>sub {
        font-size: 10px;
        color: white;
    }

    #position2>div {
        text-align: center;
        padding: 10px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;
        gap: 10px;
    }

    #position2>div>img {
        width: 100px;
    }