body {
  margin: 0 auto;
}
main {
  width: 100%;
}
#section1 {
  width: 100%;
  height: 300px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-image: url("https://wallpapercave.com/wp/wp4452086.jpg");
}
#section2 {
  width: 100%;
  min-height: 300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
#item1 {
}
#item2 {
  width: 500px;
  text-align: left;
}
#item3 {
  width: 100%;
}
#item3_img {
  margin: 0 auto;
  width: 500px;
}
#bigtext {
  height: 300px;
  font-size: 40px;
  font-weight: bold;
  font-family: Elephant;
  text-transform: uppercase;
  padding: 30px;
  color: green;
}
#item2 > p,
#item3 > p {
  font-family: Poppins;
  font-size: small;
}
#section3 {
  width: 100%;
  height: 300px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: top;
  background-image: url("https://wallpapercave.com/wp/wp8593026.jpg");
}
#section1_txt {
  position: absolute;
  top: 150px;
  font-size: 50px;
  color: white;
  width: 100%;
  font-family: Elephant;
  text-align: center;
}
#section1_txt > p {
  font-size: small;
  font-weight: bold;
  font-family: Poppins;
}
